{% extends 'base.html.twig' %}

{% block title %}Ajout Eleve
{% endblock %}

{% block body %}
	<h1>Ajout d'un élève</h1>

	{{ include('eleve/_form.html.twig') }}

	<a href="{{ path('app_eleve_index') }}">Retour à la liste</a>
{% endblock %}
